<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

{{.AcaYear}}
    Fall Courses
    {{range .Fall.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}<br>

    {{end}}

    Spring Courses
    {{range .Spring.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}     <br>

    {{end}}

    Summer Courses
    {{range .Summer.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}     <br>

    {{end}}

{{end}}

</body>
</html>
