<!DOCTYPE html>
<html lang=en>
<head>
</head>
<meta charset="UTF-8">
<title>Document HA</title>

<body>

{{range .}}
--------------------------------
Breakfast is {{.Breakfast}}
Lunch is {{.Lunch}}
Dinner is {{.Dinner}}

{{end}}


</body>
</html>